---
id: jip2-node-rpc
title: "JIP-2: Node RPC"
sidebar_label: "JIP-2 Node RPC"
sidebar_position: 1
slug: /advanced/rpc/jip2-node-rpc
---

(fetched from [here](SOURCE_URL) on BUILD_DATE)

<!-- The raw MD from above will be downloaded and appended -->
