---
id: spec
sidebar_label: Spec
sidebar_position: 1
slug: /knowledge/advanced/simple-networking/spec
---

(fetched from [here](SOURCE_URL) on BUILD_DATE)

<!-- The raw MD from above will be downloaded and appended -->
 