---
id: spec
sidebar_label: Spec
sidebar_position: 1
---

(source: https://github.com/zdave-parity/jam-np/blob/main/simple.md from BUILD_DATE)

<!-- The raw MD from above will be downloaded and appended -->
 