---
id: spec
sidebar_label: Spec
sidebar_position: 1
---

(source: https://github.com/zdave-parity/jam-np/blob/main/simple.md from {new Date().toISOString().split('T')[0]})

<!-- The raw MD from above will be downloaded and appended -->
 