/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff2570;
  --ifm-color-primary-dark: #ff085d;
  --ifm-color-primary-darker: #f80055;
  --ifm-color-primary-darkest: #cc0046;
  --ifm-color-primary-light: #ff4283;
  --ifm-color-primary-lighter: #ff518d;
  --ifm-color-primary-lightest: #ff7da9;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff2570;
  --ifm-color-primary-dark: #ff085d;
  --ifm-color-primary-darker: #f80055;
  --ifm-color-primary-darkest: #cc0046;
  --ifm-color-primary-light: #ff4283;
  --ifm-color-primary-lighter: #ff518d;
  --ifm-color-primary-lightest: #ff7da9;
  --ifm-background-color: #080808;
}
