---
id: host-call-log
sidebar_label: Log Host Call
sidebar_position: 1
---

(source: https://hackmd.io/@polkadot/jip1 from BUILD_DATE)

<!-- The raw MD from above will be downloaded and appended -->
 